<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Insight Cat Case Study</title>
        <link rel="stylesheet" href="/insight-cat.css">
    </head>
    <body>
        <header>
            <p><span class="bold">Ivan Kordonets</span> / InsightCat</p>

            <p>Awards</p>

            <p>About</p>

            <a href="https://github.com/ivanko22">
                <img src="/image/gitHubDark.svg" alt="GitHub logo">
            </a>

            <a href="https://linkedin/com/in/ivanko22">
                <img src="/image/linkedInDark.svg" alt="LinkedIn logo">
            </a>
        </header>

        <section class="overview">
            <img src="/image/insightCat.png" alt="Laptop with Insight Cat statistics">
        </section>

        <div class="dividerOne"></div>

        <section class="howStarted">
            <h2>How It All Started</h2>

            <p class="intro">According to Gartner, downtime costs an average of <span class="bold">$5,600 per minute</span>, resulting in hourly costs ranging from <span class="bold">$140,000 to $500,000</span> depending on the organization</p>

            <h3>The Problem</h3>

            <div class="centerPiece">
                <div>
                    <p class="leftOne"><span class="large">$127+</span> Million</p>
                    <p class="leftTwo">person-hours lost per year</p>
                </div>

                <img src="/image/dollarDown.svg" alt="Icon showing dollar going down" loading="lazy">

                <div>
                    <p class="leftOne"><span class="large">$500k - $1+</span> Million</p>
                    <p class="leftTwo">average cost of critical failure per hour</p>
                </div>
            </div>

            <div class="problemPoints">
                <div>
                    <img src="/image/minusIcon.svg" alt="Bullet point icon">
                    <p>To effectively monitor infrastructure, it is often necessary to utilize multiple solutions simultaneously</p>
                </div>

                <div>
                    <img src="/image/minusIcon.svg" alt="Bullet point icon">
                    <p>Setting up monitoring solutions can be a time-consuming process. The interface is not user friendly</p>
                </div>

                <div>
                    <img src="/image/minusIcon.svg" alt="Bullet point icon">
                    <p>Many existing monitoring solutions in the market tend to be costly and primarily cater to enterprise-level organizations</p>
                </div>

                <div>
                    <img src="/image/minusIcon.svg" alt="Bullet point icon">
                    <p>Managing and scaling monitoring systems can present challenges and complexities</p>
                </div>
            </div>

            <h2>Team</h2>

            <p class="teamNote">Our exceptional team comprises highly skilled professionals leveraging cutting-edge technologies</p>

            <div class="teamList">
                <img src="/image/teamIcon.svg" alt="Icon for team of people" loading="lazy">

                <ul>
                    <li>VP of Product</li>
                    <li>VP Engineering</li>
                    <li>Product Manager</li>
                    <li>Product Designer Lead</li>
                    <li>Front-End Lead Engineer</li>
                    <li>Back-End Lead Engineer</li>
                </ul>

                <ul>
                    <li>Customer Success lead</li>
                    <li>Front-End Senior Engineer - 2</li>
                    <li>Back-End Engineer - 4</li>
                    <li>QA - 2</li>
                    <li>Sales - 2</li>
                    <li>SSM</li>
                </ul>
            </div>
        </section>

        <div class="dividerTwo"></div>

        <section class="myRole">
            <img src="/image/roleImage.jpg" alt="something" loading="lazy">

            <div>
                <h2>My Role</h2>

                <ul>
                    <li>Conducted competitor analysis and developed design strategy</li>
                    <li>Formulated hypotheses and conducted qualitative and quantitative research</li>
                    <li>Interviewed and surveyed potential clients, conducted UX reasearch, and created user flows and information architecture</li>
                    <li>Developed wireframes and prototypes, conducted usability testing, and performed A/B testing</li>
                </ul>
            </div>
        </section>
    </body>
</html>
