<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ivan Kordonets</title>
        <link rel="stylesheet" href="/landing.css">
    </head>
    <body>
        <header class="mainHeader">
            <a href="#" class="name">Ivan Kordonets</a>

            <a href="#">Awards</a>

            <a href="#">About</a>

            <a href="https://github.com/ivanko22">
                <img src="/image/gitHub.svg">
            </a>

            <a href="https://www.linkedin.com/in/ivanko22/">
                <img src="/image/linkedIn.svg">
            </a>
        </header>

        <section id="main">
            <div class="content">
                <p class="intro">I'm Ivan, a seasoned leader, <span class="bold">Product Designer</span>, and <span class="bold">Developer</span> dedicated to crafting intuitive experiences for businesses while nurturing the growth of fellow designers. Based in San Francisco, I'm currently driving innovation at <span class="bold">Virtuozzo</span></p>

                <p class="workInfo">Current <span class="bold">@Virtuozzo</span></p>

                <p class="workInfo">Previously <span class="bold">@InsightCat, @OpenVPN, @elastic, @OMNIGON</span> and more</p>

                <p class="workInfo">Studied <span class="bold">@UW HCDE</span></p>

                <button>CV</button>
            </div>
            
            <img class="profilePhoto" src="/image/self01.webp" alt="Image">
        </section>

        <header class="selectedWorks">
            <h1>Selected Works</h1>

            <div class="SWItems">
                <a href="#virtuozzo">Virtuozzo</a>
                <a href="#insightCat">Insight Cat</a>
                <a href="#openVPN">OpenVPN</a>
            </div>
        </header>

        <div class="stickyMenu">
            <a href="#virtuozzo">Virtuozzo</a>
            <a href="#insightCat">Insight Cat</a>
            <a href="#openVPN">OpenVPN</a>
        </div>

        <section id="virtuozzo" class="company">
            <h1>Virtuozzo - <span class="noBold">Cloud Management Platform</span></h1>

            <img class="companyImage boxShadow" src="/image/virtuozzo.webp" alt="Placeholder image" loading="lazy">

            <div class="resume">
                <div class="companyAbout">
                    <h3>Product Designer | UX/UI Developer</h3>

                    <p class="companyDate">2022 - Present</p>

                    <p class="companyTools">Build for</p>
                    <div class="toolImages">
                        <img src="/image/chrome.svg" alt="Chrome logo"loading="lazy">
                        <img src="/image/firefox.svg" alt="Firefox logo" loading="lazy">
                        <img src="/image/awsWhite.svg" alt="AWS logo" loading="lazy">
                    </div>

                    <p class="companyTools">Tools</p>
                    <div class="toolImages">
                        <img src="/image/figma.svg" alt="Figma logo" loading="lazy">
                        <img src="/image/ps.svg" alt="Photoshop logo" loading="lazy">
                        <img src="/image/ai.svg" alt="Adobe Illustrator logo" loading="lazy">
                        <img src="/image/slack.svg" alt="Slack logo" loading="lazy">
                        <img src="/image/zoom.svg" alt="Zoom logo" loading="lazy">
                        <img src="/image/jira.svg" alt="Jira logo" loading="lazy">
                        <img src="/image/confluence.svg" alt="Confluence logo" loading="lazy">
                        <img src="/image/hotjar.svg" alt="Hotjar logo" loading="lazy">
                        <img src="/image/miro.svg" alt="Miro logo" loading="lazy">
                    </div>

                    <p class="companyTools">Tech Stack</p>
                    <div class="toolImages">
                        <img src="/image/vue.svg" alt="Vue logo" loading="lazy">
                        <img src="/image/react.svg" alt="React logo" loading="lazy">
                        <img src="/image/nodejs.svg" alt="NodeJS logo" loading="lazy">
                        <img src="/image/awsDark.svg" alt="AWS logo" loading="lazy">
                        <img src="/image/storybook.svg" alt="Storybook logo" loading="lazy">
                        <img src="/image/chromatic.svg" alt="Chromatic logo" loading="lazy">
                        <img src="/image/html.svg" alt="HTML logo" loading="lazy">
                        <img src="/image/css.svg" alt="CSS logo" loading="lazy">
                    </div>
                </div>

                <article>
                    <p>Virtuozzo, a leading software company specializing in virtualization and cloud management solutions, embarked on a transformative journey after acquiring OnApp and Jelastic. This strategic move propelled Virtuozzo into the realm of Multi-Cloud Platforms, offering a comprehensive suite of services to cloud computing providers, managed services providers, and internet hosting service providers.</p>
                    <p>As part of this evolution, I was brought on board to spearhead the interface and design system for Virtuozzo's new Cloud Management Platform. Tasked with integrating the functionalities of OnApp, Jelastic, and Virtuozzo into a unified solution, I navigated the project with resource constraints, leading user research, conducting competitor analysis, surveys, and usability tests.</p>
                <p>Collaborating closely with the marketing team and business development, we meticulously crafted a range of essential features from the ground up. These included Infrastructure as a Service (IaaS), Platform as a Service (PaaS), Desktop as a Service (DaaS), Virtual Machines, Object Storage, User Management, Team Collaboration, Billing History, Billing Systems, Dashboards, Single Sign-On (SSO), and Two-Factor Authentication (2FA), all seamlessly interconnected through a robust Design System.</p>
                <p>Furthermore, I curated a comprehensive component library using Storybook+Chromatic, ensuring consistency, scalability, and efficiency in design and development processes.</p>

                <p>This case study dives deep into the challenges, strategies, and outcomes of our journey in transforming Virtuozzo into a powerhouse Multi-Cloud Platform, showcasing the pivotal role of design in driving innovation and market leadership.</p>
                <a href="#">Learn more in Case Study</a>
                </article>
            </div>
        </section>

        <img class="divider" src="/image/divider.svg" alt="Divider image">

        <section id="insightCat" class="company">
            <img class="companyImage" src="/image/insightCat.webp" alt="Insight Cat statistics displayed on a laptop" loading="lazy">

            <div class="resume">
                <div class="companyAbout">
                    <h3>Product Designer | UX/UI Developer</h3>

                    <p>2021 - 2022</p>

                    <p class="companyTools">Build for</p>
                    <div class="toolImages">
                        <img src="/image/apple.svg" alt="Apple Logo" loading="lazy">
                        <img src="/image/linux.svg" alt="Tux" loading="lazy">
                        <img src="/image/windows.svg" alt="Windows Logo" loading="lazy">
                    </div>

                    <p class="companyTools">Tools</p>
                    <div class="toolImages">
                        <img src="/image/figma.svg" alt="Figma logo" loading="lazy">
                        <img src="/image/ps.svg" alt="Photoshop logo" loading="lazy">
                        <img src="/image/ai.svg" alt="Adobe Illustrator logo" loading="lazy">
                        <img src="/image/meet.svg" alt="Google Meet logo" loading="lazy">
                        <img src="/image/notion.svg" alt="Notion logo" loading="lazy">
                        <img src="/image/logRocket.svg" alt="Log Rocket logo" loading="lazy">
                        <img src="/image/miro.svg" alt="Miro logo" loading="lazy">
                    </div>

                    <p class="companyTools">Tech Stack</p>
                    <div class="toolImages">
                        <img src="/image/vue.svg" alt="Vue logo" loading="lazy">
                        <img src="/image/nodejs.svg" alt="NodeJS logo" loading="lazy">
                        <img src="/image/go.svg" alt="Go Lang logo" loading="lazy">
                        <img src="/image/awsDark.svg" alt="AWS logo" loading="lazy">
                        <img src="/image/storybook.svg" alt="Storybody logo" loading="lazy">
                        <img src="/image/chromatic.svg" alt="Chromatic logo" loading="lazy">
                        <img src="/image/html.svg" alt="HTML5 logo" loading="lazy">
                        <img src="/image/css.svg" alt="CSS3 logo" loading="lazy">
                    </div>
                </div>

                <article>
                    <p><span class="bold">Awards Winner Platform.</span> Lead design for: Logs, Synthetic, Billing, Dashboards, APM, Incident Timeline, Alerts, Insights and Anomalies.
</p>
                    <h4>Problem</h4>
                    <ul>
                        <li>Businesses face critical issues regarding the health of their infrastructure, with downtime costing an average of $5,600 per minute according to Gartner. This results costs between $140,000 and $540,00 per hour depending on the organization.</li>
                        <li>Existing monitoring solutions are often fragmented, time-consuming to set up, and cater primarily to enterprise-level organizations.</li>
                    </ul>

                    <h4>Solution</h4>
                    <ul>
                        <li>Conducted surveys and analyzed market solutions to identify key pain points.</li>
                        <li>Developed prototypes and conducted usability tests to validate the solution.</li>
                        <li>Created a comprehensive Full Stack Monitoring Platform that consolidates all necessary tools in one place.</li>
                        <li>Streamlined setup processes and provided a user-friendly interface.</li>
                        <li>Implemented a design system based on components for faster development and fewer bugs.</li>
                    </ul>

                    <h4>Impact</h4>
                    <ul>
                        <li>Secured a second investment of $3 million</li>
                        <li>Increased client base by 400%.</li>
                        <li>Achieved a 300% faster development process with 250% fewer bugs using design system components.</li>
                        <li>Led the design of numerous product features, from conception to optimization.</li>
                        <li>Established consistent design across the platform, reducing time to delivery.</li>
                        <li>Collaborated with cross-functional teams to streamline processes and achieve business goals.</li>
                        <li>Created impactful advertisement materials, enhancing brand visibility and sales opportunities.</li>
                    </ul>

                    <p>As a problem solver, I have successfully addressed critical infrastructure issues, streamlined processes, and delivered impactful designs. My expertise in wireframing, prototyping, user testing, and design systems has significantly contributed to the success of the Full Stack Monitoring Platform. I am passionate about creating user-centric solutions and driving business growth through effective design strategies.</p>

                    <a href="#">Learn more in Case Study</a>
                </article>
            </div>
        </section>

        <img class="divider" src="/image/divider.svg" alt="Divider image">

        <section id="openVPN" class="company">
            <h1>OpenVPN - <span class="noBold">Virtual Private Network System</span></h1>

            <img src="/image/openVPN.webp" alt="Three phones displaying OpenVPN design" loading="lazy">

            <div class="resume">
                <div class="companyAbout">
                    <h3>Product Designer</h3>

                    <p>2019 - 2021</p>

                    <p class="companyTools">Build for</p>
                    <div class="toolImages">
                        <img src="/image/apple.svg" alt="Apple logo" loading="lazy">
                        <img src="/image/linux.svg" alt="Tux" loading="lazy">
                        <img src="/image/windows.svg" alt="Windows logo" loading="lazy">
                        <img src="/image/android.svg" alt="Android logo" loading="lazy">
                        <img src="/image/awsWhite.svg" alt="AWS logo" loading="lazy">
                    </div>

                    <p class="companyTools">Tools</p>
                    <div class="toolImages">
                        <img src="/image/figma.svg" alt="Figma logo" loading="lazy">
                        <img src="/image/sketch.svg" alt="Sketch logo" loading="lazy">
                        <img src="/image/zeplin.svg" alt="Zeplin.logo" loading="lazy">
                        <img src="/image/ps.svg" alt="Photoshop logo" loading="lazy">
                        <img src="/image/ai.svg" alt="Adobe Illustrator logo" loading="lazy">
                        <img src="/image/invision.svg" alt="Invision logo" loading="lazy">
                        <img src="/image/slack.svg" alt="Slack logo" loading="lazy">
                        <img src="/image/jira.svg" alt="Jira logo" loading="lazy">
                        <img src="/image/confluence.svg" alt="Confluence logo" loading="lazy">
                        <img src="/image/zoom.svg" alt="Zoom logo" loading="lazy">
                        <img src="/image/miro.svg" alt="Miro logo" loading="lazy">
                        <img src="/image/hotjar.svg" alt="Hotjar logo" loading="lazy">
                    </div>

                    <p class="companyTools">Tech Stack</p>
                    <div class="toolImages">
                        <img src="/image/react.svg" alt="React logo" loading="lazy">
                        <img src="/image/nodejs.svg" alt="NodeJS logo" loading="lazy">
                        <img src="/image/awsDark.svg" alt="AWS logo" loading="lazy">
                        <img src="/image/storybook.svg" alt="Storybook logo" loading="lazy">
                        <img src="/image/chromatic.svg" alt="Chromatic logo" loading="lazy">
                        <img src="/image/html.svg" alt="HTML5 logo" loading="lazy">
                        <img src="/image/css.svg" atl="CSS3 logo" loading="lazy">
                    </div>
                </div>

                <article>
                    <p>Introducing OpenVPN - a platform where I led design efforts for products like Access Server Billing, OpenVPN Connect, Cloud, SSO, and the Design System, making teamwork smoother between designers, developers, marketing, and business teams.</p>
                    <p>By setting up clear design processes, I made communication better and work faster between business, marketing, design, and production teams, using a design system. Moving all designers and designs to Figma from Sketch, Invision, and Zeplin helped us work together better.</p>
                    <p>I oversaw design work for different parts of the platform, like Access Server Billing, Access Server, Cloud, OpenVPN Connect, and SSO. For example, I improved the Sign-Up process, leading to a big 475% increase in users and making 6 times more money.</p>
                    <p>I also made big changes to the billing system, which led to 300% more people signing up for new subscriptions and 500% more renewing existing ones. And when we redesigned OpenVPN Connect for iOS, Android, Mac OS, Linux, and Windows, it brought in 5 times more money and worked much better, getting millions of downloads and lots of active users. Additionally, I conducted hundreds of usability tests and surveys to make sure our designs were user-friendly. I collaborated closely with the marketing team, creating materials to support their efforts and enhance brand visibility.</p>
                    <a href="#">Learn more in Case Study</a>
                </article>
            </div>
        </section>

        <img class="divider" src="/image/divider.svg" alt="Divider image">

        <section class="workWith">
            <h1>Work With</h1>

            <div class="companyImages">
                <div><img src="/image/insightCatLogo.webp" alt="Insight Cat logo" loading="lazy"></div>
                <div><img src="/image/nascar.webp" alt="NASCAR logo" loading="lazy"></div>
                <div><img src="/image/openVpnLogo.webp" alt="OpenVPN logo" loading="lazy"></div>
                <div><img src="/image/elasticLogo.webp" alt="Elastic.io logo" loading="lazy"></div>
                <div><img src="/image/blacklistLogo.webp" alt="Blacklist.aero logo" loading="lazy"></div>
                <div><img src="/image/crazyEggLogo.webp" alt="Crazy Egg logo" loading="lazy"></div>
                <div><img src="/image/insideEvs.webp" alt="Inside EVs logo" loading="lazy"></div>
                <div><img src="/image/echlLogo.webp" alt="ECHL logo" loading="lazy"></div>
                <div><img src="/image/asMonacoLogo.webp" alt="As Monaco logo" loading="lazy"></div>
                <div><img src="/image/indyCarLogo.webp" alt="Indycar logo" loading="lazy"></div>
                <div><img src="/image/asianFootballLogo.webp" alt="Asian Football Confederation logo" loading="lazy"></div>
                <div><img src="/image/liveKickLogo.webp" alt="Live Kick logo" loading="lazy"></div>
                <div><img src="/image/spiralMathLogo.webp" alt="Spiral Math logo" loading="lazy"></div>
                <div><img src="/image/IXLlearningLogo.webp" alt="IXL Learning logo" loading="lazy"></div>
                <div><img src="/image/studyTubeLogo.webp" alt="StudyTube logo" loading="lazy"></div>
                <div><img src="/image/lgLogo.webp" alt="LG logo" loading="lazy"></div>
                <div><img src="/image/encoleLogo.webp" alt="Encole logo" loading="lazy"></div>
                <div><img src="/image/maternieLogo.webp" alt="Maternie logo" loading="lazy"></div>
            </div>
        </section>

        <section class="awardsRec">
            <h1>Awards & Recognition</h1>

            <div class="awardsList">
                <div>
                    <p>Vega Digital Awards</p>
                    <img src="/image/navDown.svg" alt="Navigation down arrow">
                </div>
                <div>
                    <p>Communicator Awards</p>
                    <img src="/image/navDown.svg" alt="Navigation down arrow">
                </div>
                <div>
                    <p>Summit Creative Award 2023</p>
                    <img src="/image/navDown.svg" alt="Navigation down arrow">
                </div>
                <div>
                    <p>GDUSA Digital Design Awards</p>
                    <img src="/image/navDown.svg" alt="Navigation down arrow">
                </div>
                <div>
                    <p>Judge</p>
                    <img src="/image/navDown.svg" alt="Navigation down arrow">
                </div>
            </div>
        </section> 

        <section class="conclusion">
            <p>Looking for exceptional design and development expertise?</p>
            <p>Let's work together!</p>
            <p>Contact me at:</p>
            <a href="mailto:is22@me.com">is22@me.com</a>
            <a class="returnTop" href="#">
                <svg width="35px" height="35px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" color="#000000">
                    <path d="M6 11L12 5L18 11" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 19L12 13L18 19" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
        </section>

        <footer>
            <div>
                <h3>Work History</h3>

                <div class="footerItems workHistoryItems">
                    <p>Virtuozzo</p>
                    <a href="https://insightcat.com">Insight Cat</a>
                    <a href="https://www.nascar.com">NASCAR</a>
                    <a href="https://echl.com">ECHL</a>
                    <p>OpenVPN</p>
                    <a href="https://insideevs.com">InsideEvs</a>
                    <a href="https://elastic.io">elastic.io</a>
                    <a href="https://blacklist.aero">Blacklist.aero</a>
                </div>
            </div>

            <div>
                <h3>Awards</h3>

                <div class="footerItems">
                    <a href="https://summit.awardsplatform.com/gallery/NJWlJPXD/WMdmKpVO?search=d4de0f391ec47610-1">Summit Creative Award 2023</a>
                    <a href="https://ivanko.portfolio.site/awards">Vega Digital Awards</a>
                    <a href="https://ivanko.portfolio.site/awards">Communicator Awards</a>
                    <a href="https://ivanko.portfolio.site/awards">GDUSA Digital Design Awards</a>
                </div>
            </div>

            <div>
                <h3>Contacts</h3>

                <div class="footerItems footerContact">
                    <a href="mailto:is22@me.com">
                        <img src="/image/email.svg" alt="Email icon" loadin="lazy">
                        <p>is22@me.com</p>
                    </a>
                    <a href="https://www.linkedin.com/in/ivanko22/">
                        <img src="/image/linkedInDark.svg" alt="LinkedIn logo" loading="lazy">
                        <p>LinkedIn</p>
                    </a>
                    <a href="#">
                        <img src="/image/behance.svg" alt="Behance logo" loading="lazy">
                        <p>Behance</p>
                    </a>
                    <a href="#">
                        <img src="/image/dribble.svg" alt="Dribble logo" loading="lazy">
                        <p>Dribble</p>
                    </a>
                    <a href="https://github.com/ivanko22">
                        <img src="/image/gitHubDark.svg" alt="GitHub logo" loading="lazy">
                        <p>GitHub</p>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
